@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

body {
    background-color: #1f1f1f;
    color: white;
}
header {
    background-color: #671d9c;
    color: white;
    font-family: "Monomaniac One", sans-serif;
    font-weight: lighter;
    letter-spacing: 10px;
}

div {
    text-align: justify;
    width: 300px
}

div#jogoDestaque {
    background-color: orange;
}
div#jogoDestaque > img {
    background-color: red;
}

div#tranding {
    display: inline;
}

#tranding > img {
    border: black;
    border-radius: 24px;
}